body {
    margin: 0;
    font-family: Avenir, sans-serif;
    color: teal;
}

/*HOME BACKGROUND*/
#home{
	background-image: url('img/cinnabun-background.jpg');
	background-position: center;
	background-size: 100%;
}

/*********** HEADER ************/

header {
    font-family: Avenir, San Serif;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
    padding: 25px;
}

/*TITLE*/

.title {
	text-align: center;
	color: white
}

h1 {
    margin: 500 0 0 0;
	font-size: 100px;
}

h2 {
	margin-top: -90px;
	font-size: 25px;
}
p {
	margin-top: -10px;
	text-align: center;
	font-style: italic;
	
}

.title a {
	color: white;
	border: white;
	border-width: thick;
	outline: white;
	margin-top: 100px;
	
}

/*FLAVORS PAGE*/

.column {
	float: left;
	width: 33.33%;
}

#navigation a {
	color: black;
	font-size: 14px;
	padding: 10 0 10 5;
}

/*PRODUCT PAGE*/

.pumpspice-img {
	align-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#product-title {
	text-align: center;
	margin-top: 25px ;
	color: black;
}

#product-des {
	text-align: center;
	margin-top: -20px;
	color: dimgrey;
}

h3 {
	color: black;
}

#quantity {
	text-align: center;
	
}

.column {
	width: 12.5%;
	column-gap: 15px;
	
}

#glaze {
	text-align: center;
	margin-top: 50px;
}

.button {
	text-align: center;
	width: 100px;
	height: 50px;
	justify-content: center;
	border: solid black 2px;
}

#buy {
	text-align: center;
	margin-top: 75px;
	border: solid black 2px;
	border-radius: 10px;
	width: 20%;
}

/*OUR FLAVORS PAGE*/
.column1 {
	float: left;
	width: 33.3%;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.column1 p {
	color: gray;
	text-align: left;
	margin-top: 15px;
	text-decoration: none;
}

