@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Courier New', serif;
	color: black;
}

#container {
	margin: 0 auto;
	width: 75%;
	text-align: center;
}

h1 {
	font-size: 15px;
}

#image {
	width: 50%;
}
