@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Courier New', serif;
	color: black;
	font-size: 15px;
	text-align: center;
}

#container {
	margin: 0 auto;
	width: 75%;
	text-align: center;
}

h1 {
	font-size: 15px;
}

#image {
	width: 50%;
}

button {
	font-family: 'Courier New', serif;
	color: white;
	font-size: 13px;
	border: 1px solid grey;
	background-color: grey;
	border-radius: 5px;
	display: block;
	margin: auto;
}
